// Ajeitar o sistema de responsividade
@import "./presets";

.menu {
  background-color: $white;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  height: 100vh;
  position: fixed;
  padding: 1.5rem;
  right: 0;
  transition: 0.5s ease-in-out;
  top: 0;
  width: 100vw;
  z-index: 1;

  @include xlg-mob {
    z-index: 2;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__logo {
    width: 12rem;
  }

  &__close {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/icons/icon-close.svg");
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__all {
    @include xlg-mob {
      align-items: flex-start;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    width: 100%;

    @include xlg-mob {
      border: 1px solid $blue-gray;
      border-radius: 5px;
      background-color: $navigation-bg;
      height: auto;
      width: 23%;
    }

    @include sm-desk {
      width: 18%;
    }

    &-item {
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 1rem 0;
      text-align: right;

      @include xlg-mob {
        padding: 1rem;

        &:hover {
          background-color: darken($navigation-bg, 10%);
        }
      }

      &--active {
        @include xlg-mob {
          color: $blue-gray;
          font-weight: 600;
        }
      }
    }
  }

  &__section {
    box-sizing: border-box;
    display: none;
    min-height: 15vh;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    width: 100%;

    @include xlg-mob {
      padding: 0;
      width: 75%;
    }

    @include sm-desk {
      width: 80%;
    }

    &-navigation {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      @include xlg-mob {
        margin-bottom: 0;
      }

      &--return {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/icons/icon-return.svg");
        color: $blue-gray;
        height: 1.5rem;
        width: 1rem;

        @include xlg-mob {
          display: none;
        }
      }

      &--title {
        color: $blue-gray;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;

        @include xlg-mob {
          display: none;
        }
      }
    }
  }

  &__content {
    border: 1px solid $blue-gray;
    border-radius: 5px;
    background-color: $navigation-bg;
    box-sizing: border-box;
    min-height: 20vh;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    width: 100%;

    @include xlg-mob {
      border-radius: 0;
      background-color: darken($sidebar-bg, 2%);
    }

    &-title {
      color: $blue-gray;
      font-size: 1.3rem;
      font-family: inherit;
      margin: 0 0 1rem;
    }

    &-text {
      font-family: inherit;
      margin: 0 0 1.5rem;
    }

    &-container {
      display: grid;
      gap: 0.3rem;
      grid-template-columns: 1fr;

      @include md-mob {
        grid-template-columns: repeat(3, 1fr);
      }

      @include lg-mob {
        grid-template-columns: repeat(4, 1fr);
      }

      @include xlg-mob {
        grid-template-columns: repeat(6, 1fr);
      }

      @include lg-desk {
        grid-template-columns: repeat(8, 1fr);
      }
    }

    &-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      list-style: none;
      margin: 1rem 0;
      padding: 0;

      @include md-mob {
        grid-template-columns: repeat(2, 1fr);
      }

      @include sm-desk {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-card {
      background-color: $white;
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: 1rem;

      &--title {
        font-size: 1.2rem;
        margin: 0;
      }

      &--description {
        color: $dark-gray;
      }

      &--medias {
        display: flex;
      }

      &--media-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 2rem;
        margin-right: 0.6rem;
        width: 2rem;
      }

      &--media-github {
        background-image: url("../../assets/icons/icon-github.svg");
      }

      &--media-linkedin {
        background-image: url("../../assets/icons/icon-linkedin.svg");
      }

      &--media-instagram {
        background-image: url("../../assets/icons/icon-instagram.svg");
      }
    }

    &-gloopex {
      background-color: $white;
      border: 1px solid $light-gray;
      border-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10rem;
      background-image: url("../../assets/icons/logo-gloopex.svg");
      color: $black;
      display: block;
      height: 4rem;
      margin-bottom: 1.5rem;
      width: 12rem;
    }

    &-button {
      background-color: $logo-light;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-bottom: 1.5rem;
      padding: 0.6rem 1rem;
      transition: 0.1s ease-in-out;

      &:hover {
        background-color: darken($logo-light, 10%);
      }
    }
  }

  // Modificar para ficar com as imagens dos sites e num grid
  &__label-tool {
    border: 1px solid $blue-gray;
    border-radius: 5px;
    background-color: $white;
    cursor: pointer;
    padding: 0.6rem;
    text-align: center;

    &--selected {
      background-color: $blue-gray;
      color: $white;
    }
  }
}
